# Regiment

### Paso 1. Importar librerias

In [1]:
import pandas as pd
import numpy as np

### Paso 2. Cree el DataFrame con los siguientes valores:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Paso 3. Asígnalo a una variable llamada regimiento.
##### No olvides nombrar cada columna

In [3]:
regimiento = pd.DataFrame(raw_data)
regimiento.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

### Paso 4. ¿Cuál es la puntuación media preTestScore del regimiento Nighthawks?

In [8]:
media_nighthawks = regimiento[regimiento['regiment'] == 'Nighthawks']['preTestScore'].mean()
print(media_nighthawks)

15.25

### Paso 5. Presentar estadísticas generales por empresa

### Paso 6. ¿Cuál es la media de la puntuación preTest de cada empresa?

In [10]:
media_score = regimiento.groupby('regiment')['preTestScore'].mean()
print(media_score)

regiment
Dragoons      15.50
Nighthawks    15.25
Scouts         2.50
Name: preTestScore, dtype: float64

### Paso 7. Presentar las puntuaciones medias preTest agrupadas por regimiento y compañía.

In [12]:
mean_scores = regimiento.groupby(['regiment', 'company'])['preTestScore'].mean()
print(mean_scores)

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Paso 8. Presentar las puntuaciones medias preTestScores agrupadas por regimiento y compañía sin indexación heirárquica.

In [14]:
indexadas = regimiento.groupby(['regiment', 'company'])['preTestScore'].mean().reset_index()
print(indexadas)

     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

In [20]:
agrupado = regimiento.groupby(['regiment', 'company'])

### Paso 10. ¿Cuál es el número de observaciones en cada regimiento y compañía

In [22]:
observaciones = regimiento.groupby(['regiment', 'company']).size().reset_index(name='counts')
print(observaciones)

     regiment company  counts
0    Dragoons     1st       2
1    Dragoons     2nd       2
2  Nighthawks     1st       2
3  Nighthawks     2nd       2
4      Scouts     1st       2
5      Scouts     2nd       2

### Paso 11. Iterar sobre un grupo e imprimir el nombre y todos los datos del regimiento. Haz una función llamada agrupa(variable)

In [38]:
def agrupa(variable):
    grouped = regimiento.groupby(variable) 
    for group_name, group_data in grouped:
        print(f"Grupo: {group_name}")
        print(group_data)
        print()

agrupa('regiment')

Grupo: Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57

Grupo: Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62

Grupo: Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70