# Regiment

### Paso 1. Importar librerias

In [1]:
import pandas as pd
import numpy as np

### Paso 2. Cree el DataFrame con los siguientes valores:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Paso 3. Asígnalo a una variable llamada regimiento.
##### No olvides nombrar cada columna

In [8]:
regimiento = pd.DataFrame(raw_data)
regimiento.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

In [13]:
regimiento.tail()

    regiment company   name  preTestScore  postTestScore
7   Dragoons     2nd   Sone            31             57
8     Scouts     1st  Sloan             2             62
9     Scouts     1st  Piger             3             70
10    Scouts     2nd  Riani             2             62
11    Scouts     2nd    Ali             3             70

In [14]:
regimiento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   regiment       12 non-null     object
 1   company        12 non-null     object
 2   name           12 non-null     object
 3   preTestScore   12 non-null     int64
 4   postTestScore  12 non-null     int64
dtypes: int64(2), object(3)
memory usage: 612.0+ bytes

### Paso 4. ¿Cuál es la puntuación media preTestScore del regimiento Nighthawks?

In [ ]:
media_nighthawks = df[df['regimiento'] == 'Nighthawks']['preTestScore'].mean()

KeyError: False

### Paso 5. Presentar estadísticas generales por empresa

### Paso 6. ¿Cuál es la media de la puntuación preTest de cada empresa?

### Paso 7. Presentar las puntuaciones medias preTest agrupadas por regimiento y compañía.

### Paso 8. Presentar las puntuaciones medias preTestScores agrupadas por regimiento y compañía sin indexación heirárquica.

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

### Paso 10. ¿Cuál es el número de observaciones en cada regimiento y compañía

### Paso 11. Iterar sobre un grupo e imprimir el nombre y todos los datos del regimiento. Haz una función llamada agrupa(variable)