In [1]:
import pandas as pd

In [2]:
pd.read_parquet('train.snappy')

                                            descripcion
0     **La observación** 367  describe una seta de *...
1     **La observación** 5123  describe una seta de ...
2     **La observación** 2864  describe una seta de ...
3     **La observación** 4674  describe una seta de ...
4     **La observación** 1210  describe una seta de ...
...                                                 ...
4598  **La observación** 1028  describe una seta de ...
4599  **La observación** 5591  describe una seta de ...
4600  **La observación** 2053  describe una seta de ...
4601  **La observación** 4604  describe una seta de ...
4602  **La observación** 4790  describe una seta de ...

[4603 rows x 1 columns]

In [3]:
setas = pd.read_parquet('train.snappy')

In [4]:
setas.to_csv('archivo_convertido.csv', index=False)

In [5]:
pd.read_csv('C:/Users/sr_tu/Desktop/bootcamp/DS102024/3-MachineLearning/ejecicio kaggle_2/archivo_convertido.csv', sep= '*')

                                            descripcion
0     **La observación** 367  describe una seta de *...
1     **La observación** 5123  describe una seta de ...
2     **La observación** 2864  describe una seta de ...
3     **La observación** 4674  describe una seta de ...
4     **La observación** 1210  describe una seta de ...
...                                                 ...
4598  **La observación** 1028  describe una seta de ...
4599  **La observación** 5591  describe una seta de ...
4600  **La observación** 2053  describe una seta de ...
4601  **La observación** 4604  describe una seta de ...
4602  **La observación** 4790  describe una seta de ...

[4603 rows x 1 columns]

In [6]:
setas =pd.read_csv('C:/Users/sr_tu/Desktop/bootcamp/DS102024/3-MachineLearning/ejecicio kaggle_2/archivo_convertido.csv', sep= ',')